@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <p>I will be following an introductory course to learn ASP.NET Core MVC</p>
    <p>Check out my homepage <a href="https://joshdunaway.com">here</a>.</p>
</div>
