@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Test Page";
}
<div class="text-center">
    <h1 class="display-4">Test Page!!!</h1>
    <p>Just seeing how to easily add pages. I added a method inside HomeController
        that returns the TestPage view inside Views\Home. I feel excited to learn more
    </p>
    <p>Check out my homepage <a href="https://joshdunaway.com">here</a>.</p>
</div>